
<div class="row">
	<h2>Categorías</h2>
	<p>Selecciona las categorías que desees ver en tu página principal, y las que se enviarán
	a tu dirección de correo electrónico si te suscribes al boletín por email.</p>
	<hr>
	<div ng-repeat="category in categories" class="col-md-6">
		<div class="col-sm-6">
			<h3>{{category.name}}</h3>
		</div>
		<div class="col-sm-6">
			<br>
			<button ng-click="setCategory(category)" ng-hide="category.suscrito" class="btn btn-success">Activar</button>
			<button ng-click="setCategory(category)" ng-show="category.suscrito" class="btn btn-danger">Desactivar</button>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<h2>Boletín por email</h2>
	<p>Si te suscribes al boletín por email, recibirás un correo electrónico semanal con las noticias más
	importantes de tus suscripciones.</p>
	<hr>
	<div class="col-md-6">
		<div class="col-sm-6">
			<h3>Suscripción</h3>
		</div>
		<div class="col-sm-6">
			<br>
			<button ng-hide="mailSubs" ng-click="setMailSubs()" class="btn btn-success">Activar</button>
			<button ng-show="mailSubs" ng-click="setMailSubs()" class="btn btn-danger">Desactivar</button>
		</div>
	</div>
</div>